{% extends 'base.html' %}

{% block content %}

<div class="post-entry">
    <h2><a href="{% url 'home' %}">Welcome to pgnhostel.com</a> </h2>
</div>


<h3 align="justify">We're in the process of creating a digital identity for thousands of paying guests & hostels,
    which play a very crucial role in accommodating lakhs of students & young working professionals. On one side,
    we find a lot of people who face tough time while finding a good hostel within their budget and on the
    other side we find a lot of hostel owners who are clueless about marketing and promoting their hostel.</h3>

<h3 align="justify">pgnhostel.com simply act as matchmakers and help both the parties meet their expectations.
    pgnhostel.com is a marketplace for low budget and entry level accommodations in Bangalore.</h3>

<h3 align="justify">pgnhostel.com is the site where you can get complete details about
    Paying Guest Accommodation in Bangalore and shortly extending to other citites.</h3>

<h3 align="justify">Freedom for you to choose without signup's or providing your personal or contact information.</h3>

<h3 align="justify">If you like our services, please support us by informing others about pgnhostel.com in need.</h3>
{% endblock content %}