{% extends 'base.html' %}

{% block content %}
<div class="post-entry">
    <h2><a href="{% url 'home' %}">Thank you for your interest in pgnhostel.com</a> </h2>
    <h3>Kindly drop an email with your queries to : </h3>
    <h4> E-mail: <a href = "mailto: pg4mens@gmail.com">pg4mens@gmail.com</a></h4>
    <h4>SMS/call/whatsapp : + 91 8550866998</h4>
    <p><strong>NOTE:</strong> PG owners place your property add <strong><a href = "mailto: pg4mens@gmail.com">FREE</a></strong> and start getting enquires.</p>
</div>
{% endblock %}